<div class="container">
  <task-list [tasks]="tasks"></task-list>
  <div class="gant">
    <div class="months">
      <div *ngFor="let month of months">
        <div class="month">{{ month.monthName }}</div>
        <div class="days">
          <div
            class="day"
            *ngFor="
              let item of [].constructor(month.daysInMonth);
              let i = index
            "
          >
            {{ i + 1 }}
          </div>
        </div>
      </div>
    </div>
    <div style="position: relative;">
      <ng-template #recursiveList let-tasks>
        <div *ngFor="let task of tasks">
        <app-task
          [task]="task"
          [startMonth]="months[0].monthName"
          
        >
        </app-task>
        <div *ngIf="task.showChildrens && task.childrens.length > 0">
          <ng-container
            *ngTemplateOutlet="
              recursiveList;
              context: { $implicit: task.childrens }
            "
          ></ng-container>
        </div>
      </div>
      </ng-template>
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: tasks }"></ng-container>
    </div>
  </div>
</div>

<!-- <div #container class="container" style="background-color: gray;">
  <div id="1" #draggable class="draggable">
    <input type="text" />
  </div>

  <div id="2" #draggable2 class="draggable">
    <input type="text" />
  </div>
</div> -->