.container {
    display: flex;
    height: 100%;
    position: relative;
}

.months {
    display: flex;
}

.gant {
    width: 100%;
}

.days {
    display: flex;
}

.month {
    text-align: center;
    border-right: 1px solid lightgray;
}

.day {
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: 26px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
  