.task {
    height: 22px;
    background-color: lightblue;
    border: 1px solid blue;
    margin: 5px 0px;
    border-radius: 4px;
    text-align: center;
    color: white;
    cursor: move;
    /* transition: margin-left 0.1s; */
    position: relative;
}

.resizer {
    position: absolute;
    z-index: 2;
    width: 3px;
    height: 100%;
    cursor: col-resize;
}

.resizer.left {
    left: -1px;
}

.resizer.right {
    right: -1px;
}

.parent-task {
    height: 22px;
    background-color: green;
    margin: 5px 0px;
    border: 1px solid darkgreen;
    cursor: move;
    border-radius: 4px;
    position: relative;
}